<label class="control">
    <input type="{{type}}" name="{{name}}" value="{{text}}" class="control__input" {{#if checked}} checked{{/if}}>
        <span class="control__{{type}}"></span>
    <span class="control__text">{{text}}</span>
</label>